name: stripe_payment_example
description: Demonstrates how to use the stripe_payment plugin.

dependencies:
  http:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  stripe_payment:
    path: ../

flutter:
  uses-material-design: true
